@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";

// Import Custom Variables
@import "variables";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Import Custom SCSS
@import "global";

// Layout
@import "layout/authentication";
@import "layout/dashboard-default";
@import "layout/dashboard-fixed";
@import "layout/error";

// Navigation
@import "navigation/nav";
@import "navigation/topnav";
@import "navigation/sidenav/sidenav";
@import "navigation/sidenav/sidenav-dark";
@import "navigation/sidenav/sidenav-light";

@import "auth";

@import "character";
